@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Prompt'), local('Prompt-Regular'), url(https://fonts.gstatic.com/s/prompt/v4/-W__XJnvUD7dzB2KYNod.woff2) format('woff2');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Prompt SemiBold'), local('Prompt-SemiBold'), url(https://fonts.gstatic.com/s/prompt/v4/-W_8XJnvUD7dzB2Cv_4IaWMu.woff2) format('woff2');
}

$l-weight: 400;
$h-weight: 600;

* {
	box-sizing: border-box;
	font-family: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
}

:root {
	--purple: hsla(228, 55%, 45%, 0.75);
	--light-purple: hsla(228, 55%, 45%, 0.45);
}

html, body {
	width: 100%;
	height: 100%;
	font-family: Prompt, sans-serif;
	font-weight: $l-weight;
	font-size: 100%;
	margin: 0;
}

.container {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background: linear-gradient(170deg, hsl(228, 55%, 62%), hsl(228, 55%, 48%));
	transition: 2s transform ease-in-out;
	overflow: hidden;
}

.nav {
	width: 100%;
	text-align: center;
	padding: 50px;

	&__item {
		display: inline-block;
		margin: 0 30px;
	}

	&__link {
		color: #fff;
		font-size: 1.5em;
		text-decoration: none;

		&:hover, &:focus {
			text-decoration: underline;
			outline: 0;
		}
	}
}

.main {
	display: flex;
	position: relative;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 0 25px;
}

.intro {
	margin: 0 auto;
}

.my {
	display: block;
	color: #fff;

	@media all and (min-width: 1000px) {
		display: flex;
		align-items: center;
		flex-flow: row wrap;
	}

	@media all and (min-width: 1000px) {
		font-size: 1.1rem;
		text-align: left;
	}

	@media all and (min-width: 1400px) {
		font-size: 1.2rem;
		margin-left: -100px;
	}

	&__face {
		@media all and (min-width: 1000px) {
			margin: 0;
			margin-right: 35px;
		}

		img {
			display: block;
			width: 120px;
			height: auto;
			box-shadow: 0px 3px 6px var(--purple);
			border-radius: 50%;
			transition: all 150ms linear;
			margin: 0 auto 10px;

			@media all and (min-width: 1000px) {
				display: inline-block;
			}

			&:hover {
				transform: scale(1.05);
				box-shadow: 0px 4px 8px var(--light-purple);
			}
		}
	}

	&__info {
		text-align: center;
		margin: 0 auto;

		@media all and (min-width: 1000px) {
			text-align: left;
			margin: -10px 0 0;
		}
	}

	&__name {
		font-size: 3em;
		font-weight: $h-weight;
		line-height: 1;
		letter-spacing: 2px;
		text-shadow: 0px 3px 6px var(--purple);
		margin-bottom: 15px;
	}


	&__social {
		width: 66%;
		display: flex;
		flex-flow: row wrap;
		font-size: 1em;
		letter-spacing: 0.05em;
		text-shadow: 0px 2px 6px var(--purple);
		margin: 0 auto;

		@media all and (min-width: 500px) {
			width: auto;
			text-align: center;
			margin: inherit;
		}
	}

	&__social-item {
		display: flex;
		flex: 1 1 50%;
		align-items: center;
		padding: 10px 0;

		&:hover, &:focus {
			text-decoration: underline;
			text-decoration-color: #fff;
			outline: 0;
		}

		@media all and (min-width: 500px) {
			width: auto;
			flex: none;
			text-align: center;
			margin-right: 24px;

			&:last-child {
				margin-right: 0;
			}
		}

		svg {
			margin-right: 8px;
		}

		a {
			text-decoration: none;
		}
	}
}

.bottom {
	position: absolute;
	left: 50%;
	bottom: 90px;
	transform: translateX(-50%);

	&__link {
		color: #fff;
		font-size: 1.3em;
		font-weight: $l-weight;
		text-shadow: 0px 2px 6px var(--purple);

		&::after {
			display: inline-block;
			content: '\2192';
			margin-left: 10px;
		}

		&:hover::after {
			animation: 1s shift infinite;
		}
	}
}